body {
  background-color:rgb(156, 155, 154)
}

div {
  font-family: Arial;
}

.name {
  color: rgb(73, 71, 71);
  text-align: center;
}

ul {
  color: white;
}

ol {
  color: white;
}

.projects {
  color: white;
}

.blm {
  color: black;
}

.image1 {
  display: block;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.heading {
  color: rgb(73, 71, 71);
  text-align: center;
}

.paragraph {
  color: white;
}

.column {
  width: 500px;
  float: left;
}
